body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

.layout{
    display:flex;
}

/* ==================================== */
/*                admin.html             */
/* ==================================== */

.container {
    padding: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    margin: 0;
    color: #007bff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.layout{
    display: flex;
    height: 100vh;
}



/* Sidebar */
.sidebar{
    width: 220px;
    background: #2f54eb;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar a{
    color: white;
    text-decoration: none;
    padding: 12px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.sidebar a:hover{
    background: rgba(255,255,255,0.15);
}

/* Main content */
.main{
    flex: 1;
    padding: 30px;
    background: #f5f6fa;
}

/* -------------------------------==================================== ----------------------------------*/
/*                                            manage-admin.html                                            */
/* -------------------------------==================================== ----------------------------------*/

.admin-list{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
    background:white;
}

.admin-list{
    width:100%;
    border-collapse:collapse;
}

.admin-list th,
.admin-list td{
    padding:12px;
    border-bottom:1px solid #eee;
    text-align:center;
}

.admin-list th{
    background:white;
    color:black;
}
