* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

.topbar {
    background: #4f46e5;
    color: white;
    padding: 8px 50px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.navbar {
    background: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.logo{
    font-weight: bold;
    font-size: 20px;
    color: #4F46E5;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links a:hover {
    color: #4f46e5;
}

.btn-nav {
    background: #4f46e5;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
}

.hero {
    position: relative;
    height: 90vh;
    background: url("มจพ.webp") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}


.hero-content {
    position: relative;
    color: white;
    max-width: 600px;
}

.hero-content h2 {
    margin-bottom: 10px;
    font-weight: 400;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.bth-slide {
    background: #4f46e5;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}